@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300&display=swap');


:root {
  --header-height: 3rem;

  /*--clr-txt-1: #1d1d27;*/

  /*--clr-body-1: #ffb457;*/
  /*--clr-body-2: #91c8e4;*/
  /*--clr-body-3: #bfbff8;*/
  /*--clr-body-4: #ffe797;*/
  /*--clr-body-5: #cffff1;*/

  /*--clr-icon-1: #ff8c00;*/
  /*--clr-icon-2: #068fff;*/
  /*--clr-icon-3: #4343f5;*/
  /*--clr-icon-4: #e0b115;*/
  /*--clr-icon-5: #65ddb7;*/

  --clr-txt-1: #001219;

  --clr-body-1: #F1FAEE;
  --clr-body-2: #91c8e4;
  --clr-body-3: #bfbff8;
  --clr-body-4: #ffe797;
  --clr-body-5: #cffff1;

  --clr-icon-1: #E63946;
  --clr-icon-2: #E63946;
  --clr-icon-3: #E63946;
  --clr-icon-4: #E63946;
  --clr-icon-5: #E63946;

  --font-small: 0.75rem;
  --font-medium: 1rem;
  --font-large: 1.5rem;
  --font-very-large: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;

  /* Margin Bottom */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;

  /*--bgColorMenu: #1d1d27;*/
  --bgColorMenu: #001219;
  --duration: 0.7s;

  --body-font: "Open Sans", sans-serif;
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: var(--body-font);
}

html *,
html *::before,
html *::after {
  box-sizing: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: darkblue;
}

img {
  max-width: 100%;
  height: auto;
}

/* Slide Animation */

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.hidden {
  display: none;
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

.fadeOut {
  animation-name: fadeOut;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}


/*-------Nav-Bar------------- */
body > div.burger {
  position: absolute;
  top: 3rem;
  right: 4rem;
  transition: all .3s ease-in-out;
  cursor: pointer;
  /*font-size: 1.5rem;*/
  /*padding: .2rem;*/
  width: 2.3rem;
  height: 2.3rem;
  z-index: 101;
}

body > nav {
  position: fixed;
  font-family: 'Kalam', cursive;
  /*top: 4rem;*/
  /*left: 4rem;*/
  width: 100%;
  height: 100%;
  background: #f8828a;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
  opacity: 1;
  clip-path: circle(50px at 100% -10%);
  -webkit-clip-path: circle(
          50px at 100% -10%
  );
}

body > div.burger > img:nth-child(1) {
  height: 2rem;
  width: auto;
  outline: none;
  border: none;
}

body > nav > div {
  width: 60%;
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
}

body > nav > div > div.more {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin-top: 1rem;
  margin-right: 4rem;
}

body > nav > div > div.social-links > div {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  row-gap: 1rem;
}

@keyframes gentle-shake {
  0% { transform: translate(0, 0); }
  10% { transform: translate(-0.1rem, 0); }
  20% { transform: translate(0.1rem, 0); }
  30% { transform: translate(-0.1rem, 0); }
  40% { transform: translate(0.1rem, 0); }
  50% { transform: translate(-0.1rem, 0); }
  60% { transform: translate(0.1rem, 0); }
  70% { transform: translate(-0.1rem, 0); }
  80% { transform: translate(0.1rem, 0); }
  90% { transform: translate(-0.1rem, 0); }
  100% { transform: translate(0, 0); }
}

body > nav > div > div.social-links > div > a:hover {
  animation-name: gentle-shake;
  animation-duration: .5s;
  animation-iteration-count: .5;
}

@keyframes heart {
  0% {
    transform: translate(0, 0) scale(1);
  }
  20% {
    transform: translate(.15rem, -.15rem) scale(1.2);
  }
  40% {
    transform: translate(0, 0) scale(1);
  }
  50% {
    transform: translate(.15rem, -.15rem) scale(1.2);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

body > nav > div.speech > div.more > p > img:hover {
  animation-name: heart;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

body > nav > div > div.social-links > div > a > img {
  margin: .5rem;
  font-size: 1.5rem;
}

body > nav > div > div.social-links > div > a > img {
  position: relative;
  top: 12px;
}

body > nav > div > div.social-links > div > a > *{
  color: var(--bgColorMenu);
}

body > nav > div > div.social-links > div > a > img {
  height: 22px;
}

.hand-drawn {
  position: relative;
  top: 8px;
  height: 1.5rem;
}

body > nav > p {
  /*height: 70px;*/
  position: absolute;
  font-size: 2rem;
  transform: translateY(-15rem);
}

body > nav > div > div.social-links > div > a:hover {
  color: var(--bgColorMenu);
}

body > nav > .light-bulbs > img {
  position: absolute;
  height: 3.438rem;
  width: auto;
  /*width: 55px;*/
}

body > nav > .light-bulbs {
  position: absolute;
}

body > nav > .light-bulbs > img:nth-child(1) {
  transform: translate(39.375rem, 11.25rem) rotate(20deg);
}

body > nav > .light-bulbs > img:nth-child(2) {
  transform: translate(37.5rem, -12.5rem) rotate(-30deg);
}

body > nav > .light-bulbs > img:nth-child(3) {
  transform: translate(-40.625rem, 12.5rem) rotate(-20deg);
}

body > nav > .light-bulbs > img:nth-child(4) {
  transform: translate(-18.75rem, 17.5rem) rotate(20deg);
}

body > nav > .light-bulbs > img:nth-child(5) {
  transform: translate(-40.625rem, -12.5rem) rotate(40deg);
}

body > nav > .light-bulbs > img:nth-child(6) {
  transform: translate(34.375rem, 16.25rem) rotate(-40deg);
}

body > nav > .light-bulbs > img:nth-child(7) {
  transform: translate(25rem, 14.375rem) rotate(20deg);
}

body > nav > .light-bulbs > img:nth-child(8) {
  transform: translate(17.5rem, 16.875rem) rotate(-20deg);

}
body > nav > .light-bulbs > img:nth-child(9) {
  transform: translate(34.375rem, -3.75rem) rotate(20deg);
}

body > nav > .light-bulbs > img:nth-child(10) {
  transform: translate(-34.375rem, 0) rotate(20deg);
}

body > nav > .light-bulbs > img:nth-child(11) {
  transform: translate(-16.25rem, -21.875rem) rotate(20deg);
}

body > nav > .light-bulbs > img:nth-child(12) {
  transform: translate(-41.875rem, -4.375rem) rotate(-20deg);
}

body > nav > .light-bulbs > img:nth-child(13) {
  transform: translate(40.625rem, 0) rotate(20deg);
}

body > nav > .light-bulbs > img:nth-child(14) {
  transform: translate(33.125rem, 4.375rem) rotate(-20deg);
}

body > nav > .light-bulbs > img:nth-child(15) {
  transform: translate(0, 12.5rem) rotate(20deg);
}

body > nav > .light-bulbs > img:nth-child(16) {
  transform: translate(-39.375rem, 5rem) rotate(-10deg);
}

body > nav > .light-bulbs > img:nth-child(17) {
  transform: translate(21.875rem, -18.75rem);
}

body > nav > .light-bulbs > img:nth-child(18) {
  transform: translate(-23.75rem, -18.75rem) rotate(-10deg);
}

body > nav > .light-bulbs > img:nth-child(19) {
  transform: translate(34.375rem, -18.75rem) rotate(10deg);
}

body > nav > .light-bulbs > img:nth-child(20) {
  transform: translate(-30.625rem, 16.875rem) rotate(-10deg);
}

body > nav > .light-bulbs > img:nth-child(21) {
  transform: translate(-42.5rem, -18.75rem) rotate(-10deg);
}

body > nav > .light-bulbs > img:nth-child(22) {
  transform: translate(-33.75rem, -17.5rem) rotate(20deg);
}

body > nav > .light-bulbs > img:nth-child(23) {
  transform: translate(-23.75rem, 12.5rem) rotate(-10deg);
}

body > nav > .light-bulbs > img:nth-child(24) {
  transform: translate(-12.5rem, 12.5rem) rotate(-30deg);
}

body > nav > .light-bulbs > img:nth-child(25) {
  transform: translate(-7.5rem, 20rem) rotate(20deg);
}

body > nav > .light-bulbs > img:nth-child(26) {
  transform: translate(12.5rem, 11.25rem) rotate(-10deg);
}

body > nav > .light-bulbs > img:nth-child(27) {
  transform: translate(28.125rem, -12.5rem) rotate(-10deg);
}

body > nav > .light-bulbs > img:nth-child(28) {
  transform: translate(6.25rem, 16.875rem) rotate(-10deg);
}

body > nav > .light-bulbs > img:nth-child(29) {
  transform: translate(-43.125rem, 17.5rem) rotate(-10deg);
}

body > nav > .light-bulbs > img:nth-child(30) {
  transform: translate(-26.875rem, -13.75rem) rotate(0deg);
  height: 4.375rem;
}

body > nav > .light-bulbs > img:nth-child(31) {
  transform: translate(-32.5rem, -10.625rem) rotate(-30deg);
}

body > nav > .light-bulbs > img:nth-child(32) {
  transform: translate(6.25rem, 8.125rem) rotate(-30deg);
}

body > nav > .light-bulbs > img:nth-child(33) {
  transform: translate(15.625rem, -20.625rem) rotate(15deg);
}

body > nav > .light-bulbs > img:nth-child(34) {
  transform: translate(43.75rem, 18.75rem) rotate(30deg);
}

body > nav > .light-bulbs > img:nth-child(35) {
  transform: translate(-33.125rem, 11.25rem) rotate(-80deg);
}

body > nav > .light-bulbs > img:nth-child(36) {
  transform: translate(0, -21.25rem) rotate(0deg);
}

body > nav > .light-bulbs > img:nth-child(37) {
  transform: translate(43.75rem, -8.75rem) rotate(30deg);
}

/* ----------------------- Popout Contact ----------------------------- */
#backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  z-index: 104;
}

.fade-in {
  animation: fadeIn 0.5s;
}

.fade-out {
  animation: fadeOut 0.5s;
}

#popup > img {
  height: 9rem;
  width: auto;
}

#popup {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Kalam', cursive;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: beige;
  border: 1px solid #dee2e6;
  border-radius: .25rem;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 105;
}
/* ---------------------------------------------  */

#loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: #F1FAEE;
  text-align: center;
  transition: background-color .5s ease-in-out;
}
#loader h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

progress {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  ;
}

progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  appearance: none;

  /* Set the width and height */
  width: 80px;
  height: 4px;
}

/* Set the background color of the progress bar */
progress[value]::-webkit-progress-bar {
  background-color: transparent;
  border-radius: 20px;
}

/* Set the color of the progress value */
progress[value]::-webkit-progress-value {
  background-color: var(--bgColorMenu);
  border-radius: 20px;
}

/* ------------------------------------------------------- */




#courses > div > div,
#research > div > div.research__container.container,
#research > div > div.research__interests.container,
#about > div > div > div,
#contact > div.contact__container.container.grid {
  background-color: #A8DADC;
}

#about > div > div > div {
  padding: 1rem;
  border-radius: .5rem;
  border: 2px solid;
}

#about > div > div > div > div.skill__container > div > div > div > * {
  background-color: #E63946;
  border: none;
}

#home > div > div.home__content.grid > div.home__data {
  background-color: #A8DADC;
  padding: 1.3rem;
  border: 2px solid;
  border-radius: .5rem;
  width: 34rem;
  height: auto;
}

/* ------------------------------------------------------- */

/*main {*/
/*  border-radius: 5rem;*/
/*  background-color: #A8DADC;*/
/*}*/

#home > div > div.home__content.grid > div.home__img > img {
  background: linear-gradient(180deg, #f8828a, transparent);
  /*background: #f8828a;*/
  border: 2px solid;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--clr-body-1);
  color: var(--clr-txt-1);
  display: flex;
  height: 100vh;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  -webkit-tap-highlight-color: transparent;
  transition: background-color var(--duration);
}


@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

.section {
  animation: fadeIn .3s;
}

#back-to-top {
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  padding: .1rem;
  background-color: transparent;
  border: none;
  animation: fadeIn .3s ease-in-out;
}

/*#back-to-top:hover {*/
/*  background-color: var(--bgColorMenu);*/
/*  animation: fadeIn .3s ease-in-out;*/
/*}*/

/*#back-to-top i{*/
/*  position: relative;*/
/*  top: 2px;*/
/*  font-size: 2rem;*/
/*  outline: none;*/
/*  border: none;*/
/*}*/

.menu {
  margin: 0;
  display: flex;
  /* Works well with 100% width  */
  width: 3.05em;
  font-size: 1em;
  padding: 0 1.85em;
  position: fixed;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--bgColorMenu);
  border-radius: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  left: 2.5%;
  z-index: var(--z-fixed);
}

.menu__item {
  all: unset;
  flex-grow: 1;
  z-index: 100;
  display: flex;
  cursor: pointer;
  position: relative;
  border-radius: 50%;
  align-items: center;
  will-change: transform;
  justify-content: center;
  padding: 0.55em 0 0.85em;
  transition: transform var(--timeOut, var(--duration));
}

.menu__item::before {
  content: "";
  z-index: -1;
  width: 4.2em;
  height: 4.2em;
  border-radius: 50%;
  position: absolute;
  transform: scale(0);
  transition: background-color var(--duration), transform var(--duration);
}

.menu__item.active {
  transform: translate3d(0.6em, -0.6em, 0);
}

.menu__item.active::before {
  transform: scale(1);
  background-color: var(--bgColorItem);
}

.icon {
  width: 2.6em;
  height: 2.6em;
  stroke: #F1FAEE;
  fill: transparent;
  stroke-width: 1pt;
  stroke-miterlimit: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 400;
}

.menu__item.active .icon {
  animation: strok 1.5s reverse;
}

@keyframes strok {
  100% {
    stroke-dashoffset: 400;
  }
}

.menu__border {
  /* 
    left: 0;
    bottom: 99%;
    width: 10.9em;
    height: 2.4em; */
  position: absolute;
  clip-path: url(#menu);
  will-change: transform;
  background-color: var(--bgColorMenu);
  transition: transform var(--timeOut, var(--duration));
}

.svg-container {
  width: 0;
  height: 0;
}

/*@media screen and (max-width: 50em) {*/
/*  .menu {*/
/*    font-size: 0.8em;*/
/*  }*/
/*}*/

/* Reusable Sections */

.section {
  padding: 2rem 0 4rem;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* animation: 1s ease-out 0s 1 slideInFromLeft; */
}

/* .page {
  height: 100vh;
} */

.section__title {
  font-size: var(--h1-font-size);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-1);
}

.section__title,
.section__subtitle {
  text-align: center;
}

/* Layout */

.container {
  max-width: 48rem;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/* Header (if needed) */

.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
}
/* Scroll Down Pointer*/

.scroll-downs {
  position: absolute;
  bottom: 2.5rem;
  left: 50%;
  /*margin-left: -16px;*/
  /*display: block;*/
  /*width: 32px;*/
  /*height: 55px;*/
}

/*.mousey > scroller {*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  padding: 2rem;*/
/*  font-size: 1.5rem;*/
/*  width: 5px;*/
/*  height: 15px;*/
/*  border-radius: 25%;*/
/*  animation-name: scroll-d;*/
/*  animation-duration: 2.2s;*/
/*  animation-timing-function: cubic-bezier(0.15,0.41,0.69,0.94);*/
/*  animation-iteration-count: infinite;*/
/*}*/

@keyframes scroll-d {
  /* Move the scroller up and down smoothly */
  0% { transform: translateY(0); }
  50% { transform: translateY(15px); }
  100% { transform: translateY(0); }
}

#home > div > div.scroll-downs > div > div {
  font-size: 1.2rem;
  font-family: 'Kalam', cursive;
  position: relative;
  bottom: .3rem;
  margin-left: .2rem;
  animation-name: scroll-d;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(0.15,0.41,0.69,0.94);
  animation-iteration-count: infinite;
}

#home > div > div.scroll-downs > div > div > img {
  height: 24px;
  transform: rotate(180deg);
}

/* Home */

.home__content {
  display: flex;
}

.home__container {
  gap: 1rem;
}

.home__content {
  grid-template-columns: 0.5fr 3fr;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/*.home__data > p {*/
/*  width: 85%;*/
/*}*/

.home__social {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
}

.home__social-link {
  font-size: 1.25rem;
  color: var(--bgColorMenu);
}

.home__social-link:hover {
  color: #E63946;
}

.home__img {
  width: 17rem;
  height: auto;
  border-radius: 20%;
}

.home__data {
  grid-column: 1/3;
}

.home__title {
  font-size: var(--font-very-large);
  font-weight: var(--font-weight-medium);
}

.home__subtitle {
  font-size: var(--h2-font-size);
  color: var(--clr-txt-1);
  font-weight: 500;
  margin-bottom: var(--mb-0-75);
}

.home__data h3 {
  font-weight: var(--font-weight-light);
  margin-bottom: var(--mb-0-25);
}

.home__description {
  margin-bottom: var(--mb-2);
}

/* Buttons */

.button {
  display: inline-block;
  background-color: var(--bgColorItem);
  color: var(--bgColorMenu);
  padding: 1rem;
  border-radius: 0.5rem;
  border: 2px solid var(--bgColorMenu);
  font-weight: var(--font-weight-medium);
  transition: transform 0.3s ease-out;
}

.button:hover {
  background-color: var(--bgColorMenu);
  color: #E63946;
  transform: translateY(-5px);
  transition: 0.3s;
}

.button__icon {
  position: relative;
  top: 0.2rem;
  font-size: 1.25rem;
  margin-left: var(--mb-0-5);
}

/* About */

#about > div > div > div > div.about__info > * > span.about__info-name {
  font-weight: var(--font-weight-regular);
}

#about > span {
  margin-bottom: 1rem;
}

.about__description {
  text-align: center;
  margin-bottom: var(--mb-1);
}

#contact {
  margin-top: 1.5rem;
}

.about__info {
  /*display: flex;*/
  /*justify-content: space-evenly;*/
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: var(--mb-1);
}

.about__info-title {
  font-size: var(--h2-font-size);
  font-weight: var(--font-weight-light);
}

.about__info-name {
  font-size: var(--h3-font-size);
  font-weight: var(--font-weight-light);
}
/*
#about > div > div > div.about__info > div:nth-child(3) > span.about__info-name > a {
  padding: .2rem;
  margin-left: .3rem;
  font-size: 1rem;
  font-weight: 400;
}

#about > div > div > div.about__info > div:nth-child(3) > span.about__info-name > a:hover {
  background-color: var(--bgColorMenu);
  color: var(--clr-body-2);
}
*/

#about > div > div > div > div.about__buttons {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

#about > div > div > div > div.about__buttons > * {
  margin: 1rem 1rem 0;
}

#about > div > div > div > div.about__buttons > a:nth-child(2):hover {
  color: #E63946;
}

#about > div > div > div > div.about__buttons > a:nth-child(2) > span {
  position: relative;
  top: 0.2rem;
}

#about > div > div > div > div.about__buttons > a:nth-child(2) > i {
  position: relative;
  top: .25rem;
}

.about__info-title,
.about__info-name {
  display: block;
  text-align: center;
}

.about__buttons {
  display: flex;
  justify-content: center;
}

.button--flex:nth-child(1) {
  background-color: transparent;
  color: var(--bgColorMenu);
}

.button--flex:nth-child(1):hover {
  background-color: var(--bgColorMenu);
  color: #E63946;
}

.my__skills {
  font-size: var(--h2-font-size);
}

.my__story {
  font-size: var(--h2-font-size);
}

/*.more__btn {*/
/*  display: flex;*/
/*  justify-content: center;*/
/*}*/

/*.more__btn button {*/
/*  padding: .3rem;*/
/*  font-size: .7rem;*/
/*  margin-top: .5rem;*/
/*  padding-left: 1rem;*/
/*  padding-right: 1rem;*/
/*}*/

/*.more__btn button:hover {*/
/*  background-color: var(--bgColorMenu);*/
/*  color: var(--clr-body-2);*/
/*}*/

/*.more__btn button i {*/
/*  transform: translateX(-2px);*/
/*}*/


/* Skill Sliders */

/*.app {*/
/*  min-width: 100%;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  flex-direction: column;*/
/*}*/

/*header {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  text-align: center;*/
/*}*/
/*header h1 {*/
/*  font-weight: 600;*/
/*  font-size: 2rem;*/
/*  margin-bottom: 0.5rem;*/
/*}*/
/*@media (min-width: 768px) {*/
/*  header h1 {*/
/*    font-size: var(--font-medium);*/
/*  }*/
/*}*/
/*header p {*/
/*  color: var(--bgColorMenu);*/
/*  margin-bottom: 0.5rem;*/
/*}*/
/*header a {*/
/*  color: var(--bgColorMenu);*/
/*}*/

/*.tag-list {*/
/*  width: 35rem;*/
/*  max-width: 90vw;*/
/*  display: flex;*/
/*  flex-shrink: 0;*/
/*  flex-direction: column;*/
/*  gap: 1rem 0;*/
/*  position: relative;*/
/*  padding: 1rem 0;*/
/*  overflow: hidden;*/
/*}*/

/*.loop-slider .inner {*/
/*  display: flex;*/
/*  width: fit-content;*/
/*  animation-name: loop;*/
/*  animation-timing-function: linear;*/
/*  animation-iteration-count: infinite;*/
/*  animation-direction: var(--direction);*/
/*  animation-duration: var(--duration);*/
/*}*/

/*.tag {*/
/*  display: flex;*/
/*  align-items: center;*/
/*  gap: 0 0.2rem;*/
/*  color: var(--bgColorMenu);*/
/*  font-size: 0.9rem;*/
/*  background-color: transparent;*/
/*  border: 2px solid var(--bgColorMenu);*/
/*  border-radius: 0.4rem;*/
/*  padding: 0.7rem 1rem;*/
/*  margin-right: 1rem;*/
/*  transition: transform 0.3s ease-out;*/
/*  !* box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2), 0 0.1rem 0.5rem rgba(0, 0, 0, 0.3), 0 0.2rem 1.5rem rgba(0, 0, 0, 0.4); *!*/
/*}*/

/*.tag:hover {*/
/*  background-color: var(--bgColorMenu);*/
/*  color: var(--clr-body-2);*/
/*  transform: translateY(-5px);*/
/*  transition: 0.3s;*/
/*}*/

/*.tag span {*/
/*  font-size: 1.2rem;*/
/*  color: var(--bgColorMenu);*/
/*}*/

/*.tag:hover span {*/
/*  color: var(--clr-body-2);*/
/*}*/

/*.fade {*/
/*  pointer-events: none;*/
/*  !* background: linear-gradient(90deg, #1e293b, transparent 30%, transparent 70%, #1e293b); *!*/
/*  position: absolute;*/
/*  inset: 0;*/
/*}*/

/*@keyframes loop {*/
/*  0% {*/
/*    transform: translateX(0);*/
/*  }*/
/*  100% {*/
/*    transform: translateX(-50%);*/
/*  }*/
/*}*/

/* End Of Skill Sliders */

.bx-code-curly,
.bx-coffee {
  position: relative;
  top: 0.05rem;
  margin-left: var(--mb-0-5);
}

/* Skill Container */

.row {
  display: flex;
}

.col {
  text-align: left;
  flex: 50%;
  padding: 0 1rem 1rem;
}

#about > div > div > div > div.skill__container > div > div:nth-child(1) > p,
#about > div > div > div > div.skill__container > div > div:nth-child(2) > p {
  margin: .2rem;
}

.skill__container {
  /*border: 2px solid var(--bgColorMenu);*/
  border-radius: .5rem;
  margin-bottom: 1rem;
}

/*#about > div > div > div > div.skill__container > h3 {*/
/*  margin-bottom: .5rem;*/
/*}*/
#about {
  margin-bottom: -2rem;
}

.skill-container {
  width: 100%;
  background-color: var(--clr-body-1);
  border-radius: .5rem;
  /*border: 2px solid #E63946;*/
}

.skills {
  padding-top: .1rem;
  padding-bottom: .1rem;
  color: var(--bgColorMenu);
  border-radius: .5rem;
  border: 1px solid var(--bgColorMenu);
}

.python {width:0%; height:1px; background-color:var(--bgColorMenu); animation-name: python; animation-duration:4s; animation-fill-mode: forwards;}
.javascript {width:0%; height:1px; background-color:var(--bgColorMenu); animation-name: javascript; animation-duration:4s; animation-fill-mode: forwards;}
.htmlcss {width:0%; height:1px; background-color:var(--bgColorMenu); animation-name: htmlcss; animation-duration:4s; animation-fill-mode: forwards;}
.matlab {width :0%; height :1px; background-color:var(--bgColorMenu); animation-name :matlab; animation-duration :4s; animation-fill-mode :forwards;}
.tensorflow {width :0%; height :1px; background-color:var(--bgColorMenu); animation-name :tensorflow; animation-duration :4s; animation-fill-mode :forwards;}
.scikit {width :0%; height :1px; background-color:var(--bgColorMenu); animation-name :scikit; animation-duration :4s; animation-fill-mode :forwards;}
.r {width :0%; height :1px; background-color:var(--bgColorMenu); animation-name :r; animation-duration :4s; animation-fill-mode :forwards;}
.numpy {width :0%; height :1px; background-color:var(--bgColorMenu); animation-name :numpy; animation-duration :4s; animation-fill-mode :forwards;}
.pandas {width :0%; height :1px; background-color:var(--bgColorMenu); animation-name :pandas; animation-duration :4s; animation-fill-mode :forwards;}
.git {width :0%; height :1px; background-color:var(--bgColorMenu); animation-name :git; animation-duration :4s;animation-fill-mode :forwards;}
.go {width :0%; height :1px;background-color:var(--bgColorMenu);animation-name :go ;animation-duration :4s ;animation-fill-mode :forwards;}
@keyframes python {
  from {width:0%;}
  to {width:80%;}
}
@keyframes javascript {
  from {width:0%;}
  to {width:60%;}
}
@keyframes htmlcss {
  from {width:0%;}
  to {width:80%;}
}
@keyframes matlab {
  from {width:0%;}
  to {width:20%;}
}
@keyframes tensorflow {
  from {width:0%;}
  to {width:30%;}
}
@keyframes scikit {
  from {width:0%;}
  to {width:40%;}
}
@keyframes r {
  from {width:0%;}
  to {width:10%;}
}
@keyframes numpy {
  from {width:0%;}
  to {width:60%;}
}
@keyframes pandas {
  from {width:0%;}
  to {width:50%;}
}
@keyframes git {
  from {width:0%;}
  to {width:50%;}
}
@keyframes go {
  from{ width :0% ;}
  to{ width :20%; }
}

/* Contact */

.contact__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  row-gap: 1rem;
  column-gap: 2rem;
}

#contact > div.contact__container.container.grid {
  border: 2px solid;
  border-radius: .5rem;
  padding: 2rem 2rem 0;
}

#contact > div > div {
  display: flex;
  flex-direction: column;
}
#contact > div > div > div {
  margin-bottom: 3.5rem;
}

.contact__container p{
  grid-column: span 2;
  justify-self: center;
}

.contact__information {
  display: flex;
  margin-bottom: var(--mb-2);
}

.contact__icon {
  font-size: 1.5rem;
  color: var(--bgColorMenu);
  margin-right: var(--mb-0-75);
}

.contact__title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-weight-medium);
}

.contact__subtitle {
  font-size: var(--small-font-size);
  color: var(--bgColorMenu);
}

.contact__content {
  color: var(--bgColorMenu);
  background-color: transparent;
  border-radius: 0.5rem;
  border: 2px solid var(--bgColorMenu);
  padding: 0.75rem 1rem 0.25rem;
}

.contact__label {
  font-size: var(--smaller-font-size);
  color: var(--bgColorMenu);
}

.contact__input {
  width: 100%;
  background-color: transparent;
  color: var(--bgColorMenu);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  border: none;
  outline: none;
  /*padding: 0.25rem 0.5rem 0.5rem 0;*/
  resize: none;
}

.copy {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  font-size: var(--font-small);
}

.contact__form a:only-child {
  border: 2px solid var(--bgColorMenu);
  background-color: transparent;
  color: var(--bgColorMenu);
}
.contact__form a:only-child:hover {
  color: #E63946;
  background-color: var(--bgColorMenu);
}

.home__social_2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}

#contact > div > div > div.home__social_2 > * {
  border: 2px solid var(--bgColorMenu);
  border-radius: .5rem;
  padding: .3rem .5rem;
  transition-property: transform, background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  margin: .2rem .2rem 1rem;
}

#contact > div > div > div.home__social_2 > *:hover {
  color: #E63946;
  background-color: var(--bgColorMenu);
  transform: scale(1.2);
}

/* Research */

.research__container.container,
.research__interests.container {
  max-width: 55.625rem;
}

#research > div > div.research__interests.container > ul > li {
  display: inline-block;
  padding: .3rem;
}

.research.section.page {
  display: block;
}

.research h2.section__subtitle {
  font-size: var(--font-large);
  font-weight: var(--font-weight-regular);
  margin-bottom: 0;
}

.research h1.section__title {
  font-size: var(--font-very-large);
  font-weight: var(--font-weight-medium);
  margin-bottom: var(--mb-0-5);
}

.research__container {
  display: block;
  border: 2px solid var(--bgColorMenu);
  border-radius: 0.5rem;
  padding: 1.5rem 2.5rem;
}

.research h1.research__title {
  margin-bottom: var(--mb-0-5);
  margin-top: var(--mb-0-5);
}

.research__download-pdf {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.research__download-pdf a.button {
  display: flex;
  padding: 0.5rem 0.5rem;
  margin-bottom: var(--mb-0-5);
}

.research__download-pdf a.button:hover {
  background-color: var(--bgColorMenu);
  color: #E63946;
}

.research__download-pdf span {
  padding-top: 0.29rem;
}

.research__interests {
  display: block;
  border: 2px solid var(--bgColorMenu);
  border-radius: 0.5rem;
  margin-top: var(--mb-0-5);
  padding: 1.5rem 2.5rem;
}

.research__interests h1.section__title {
  display: inline-block;
  font-size: var(--font-large);
  font-weight: var(--font-weight-semibold);
  margin-top: 0.5rem;
}

.research__interests li {
  display: inline;
  padding: 0.5rem;
}

#research > div > div.research__interests.container > h3 {
  font-size: 1rem;
}

#research {
  padding-top: .5rem;
  padding-bottom: 2rem;
}

/* Courses Page  */

#courses > h1 {
  line-height: 1rem;
}

#courses > h2 {
  margin-bottom: var(--mb-0-5);
}

#courses > h2 > img {
  position: relative;
  top: 10px;
  height: 35px;
}

#courses > div > div > h1 > img {
  height: 30px;
}

.subject__container {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0rem 6rem 0rem 6rem;
  padding: 0rem 3rem 1rem 3rem;
}

.subject__container-subtitle.section__subtitle {
  margin-bottom: 0;
  font-size: var(--font-medium);
  font-weight: var(--font-weight-medium);
}

/* .courses div.subject__container {
  display: inline-block;
} */

.subject__title {
  font-size: 1.25rem;
  font-weight: var(--font-weight-regular);
}

.__subject > ul > li {
  font-size: 0.9rem;
}

.__subject {
  display: block;
  padding: 1rem 1rem;
  margin: 0.5rem;
  border: 2px solid var(--bgColorMenu);
  border-radius: 0.5rem;
}

/* Media Queries */

/* Small Devices */

@media screen and (max-width: 350px) {
  body {
    overflow-y: scroll;
  }

  #home > div > div.scroll-downs > div {
    opacity: 0;
  }

  /* Menu */
  .menu {
    margin: 0;
    display: flex;
    flex-direction: row;
    /* Works well with 100% width  */
    width: 100%;
    font-size: 0.5em;
    position: fixed;
    align-items: center;
    border-radius: 0rem;
    justify-content: center;
    background-color: var(--bgColorMenu);
    bottom: 0;
    left: 0;
  }

  .menu__item {
    all: unset;
    flex-grow: 1;
    z-index: 100;
    display: flex;
    cursor: pointer;
    position: relative;
    border-radius: 50%;
    align-items: center;
    will-change: transform;
    justify-content: center;
    padding: 0.55em 0 0.85em;
    transition: transform var(--timeOut, var(--duration));
  }

  .menu__item::before {
    content: "";
    z-index: -1;
    width: 5.2em;
    height: 5.2em;
    border-radius: 50%;
    position: absolute;
    transform: scale(0);
    transition: background-color var(--duration), transform var(--duration);
  }

  .menu__item.active {
    transform: translate3d(0, -0.8em, 0);
  }

  .menu__item.active::before {
    transform: scale(1);
    background-color: var(--bgColorItem);
  }

  .icon {
    width: 3.6em;
    height: 3.6em;
    stroke: white;
    fill: transparent;
    stroke-width: 1pt;
    stroke-miterlimit: 10;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 400;
  }

  .menu__item.active .icon {
    animation: strok 1.5s reverse;
  }

  @keyframes strok {
    100% {
      stroke-dashoffset: 400;
    }
  }

  .menu__border {
    left: 0;
    bottom: 97%;
    width: 10.9em;
    height: 2.4em;
    position: absolute;
    clip-path: url(#menu);
    will-change: transform;
    background-color: var(--bgColorMenu);
    transition: transform var(--timeOut, var(--duration));
  }

  .svg-container {
    width: 0;
    height: 0;
  }

  /* End Menu */

  /* Links */

  .home__social {
    justify-content: center;
  }

  /* Home */

  .home__content {
    display: grid;
    padding-top: 0rem;
    padding-bottom: 0rem;
  }

  .home__img {
    width: 200px;
    height: auto;
  }
  .home__social-link {
    font-size: var(--smaller-font-size);
  }

  h1 {
    line-height: 2rem;
    margin-bottom: var(--mb-0-5);
  }

  .home__title {
    font-size: 1.5rem;
  }

  h3 {
    margin-bottom: 0rem;
  }

  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }

  .home__data a {
    margin-bottom: 3.5rem;
    /* pointer-events: none; */
    /* opacity: 0; */
  }

  .home__content {
    grid-template-columns: 0.25fr 3fr;
  }

  /* About */

  #contact > div > div > div {
    margin-bottom: 1rem;
  }

  .my__skills,
  .my__story {
    font-size: var(--h3-font-size);
  }

  .app {
    font-size: var(--smaller-font-size);
  }

  .tag-list {
    gap: 0.5rem 0;
    position: relative;
    padding: 0.5rem 0;
  }

  div.tag {
    font-size: .8rem;
  }

  .about__info-title {
    font-size: var(--small-font-size);
  }

  #about span.section__subtitle {
    margin-bottom: var(--mb-0-25);
  }

  .about__container a:only-child {
    padding: 0.5rem 1rem;
    font-size: var(--smaller-font-size);
  }

  .fi-rr-download {
    font-size: 1rem;
  }

  .about__description {
    margin-top: var(--mb-0-5);
  }

  /* Research */

  .research h1.section__title {
    margin-bottom: 0.5rem;
    font-size: var(--font-medium);
  }

  .research h2.section__subtitle {
    font-size: var(--font-small);
  }

  .research__container h1.research__title {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1rem;
  }

  .research__container ul {
    font-size: 0.75rem;
  }

  .section {
    height: 100vh;
    margin-bottom: 3rem;
  }

  .research__container,
  .research__interests {
    padding: 0.5rem 0.5rem;
  }

  .research__interests h1.section__title {
    margin-top: 0.5rem;
  }

  .research {
    margin-bottom: 2rem;
  }

  /* Courses */

  .subject__container {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center; */
    display: block;
    margin: 0;
    padding: 0rem;
    padding-bottom: 4rem;
  }

  /* Contact */

  .contact__container {
    display: block;
    padding-bottom: 4rem;
  }
}

@media screen and (max-width: 800px) {
  body {
    overflow-y: scroll;
  }

  #home > div > div.home__content.grid {
    height: 100vh;
    width: 90%;
    margin-top: 1rem;
  }

  #home > div > div.scroll-downs > div {
    opacity: 0;
  }

  #back-to-top {
    opacity: 0;
    display: none;
    animation: none;
  }

  /* ---- Nav Bar ----- */
  body > nav {
    margin-top: -2rem;
  }

  body > div.burger {
    position: fixed;
    top: 1%;
    right: 1%;
  }

  body > div.burger > img:nth-child(2) {
    display: none;
  }

  body > nav > div > div.more {
    width: 100%;
    margin: 0;
  }

  body > nav > div > div.more > p {
    margin: 4rem 3rem .5rem;
  }

  body > nav > div > div.social-links {
    display: block;
    justify-content: center;
    padding-bottom: 1rem;
  }

  body > nav > div > div.social-links > div {
    margin-left: 1.5rem;
  }

  body > nav {
    overflow-y: scroll;
  }

  body > nav > div {
    width: 100vw;
    height: 100vh;
    display: block;
  }

  body > nav > p {
    display: none;
    opacity: 0;
  }

  body > nav > div.light-bulbs {
    display: none;
    opacity: 0;
  }

  /* ---------- */

  /* Menu */
  .menu {
    margin: 0;
    display: flex;
    flex-direction: row;
    /* Works well with 100% width  */
    width: 100%;
    font-size: 0.5em;
    position: fixed;
    align-items: center;
    border-radius: 0rem;
    justify-content: center;
    background-color: var(--bgColorMenu);
    bottom: 0;
    left: 0;
  }

  .menu__item {
    all: unset;
    flex-grow: 1;
    z-index: 100;
    display: flex;
    cursor: pointer;
    position: relative;
    border-radius: 50%;
    align-items: center;
    will-change: transform;
    justify-content: center;
    padding: 0.55em 0 0.85em;
    transition: transform var(--timeOut, var(--duration));
  }

  .menu__item::before {
    content: "";
    z-index: -1;
    width: 5.2em;
    height: 5.2em;
    border-radius: 50%;
    position: absolute;
    transform: scale(0);
    transition: background-color var(--duration), transform var(--duration);
  }

  .menu__item.active {
    transform: translate3d(0, -0.8em, 0);
  }

  .menu__item.active::before {
    transform: scale(1);
    background-color: var(--bgColorItem);
  }

  .icon {
    width: 3.6em;
    height: 3.6em;
    stroke: white;
    fill: transparent;
    stroke-width: 1pt;
    stroke-miterlimit: 10;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 400;
  }

  .menu__item.active .icon {
    animation: strok 1.5s reverse;
  }

  @keyframes strok {
    100% {
      stroke-dashoffset: 400;
    }
  }

  .menu__border {
    left: 0;
    bottom: 97%;
    width: 10.9em;
    height: 2.4em;
    position: absolute;
    clip-path: url(#menu);
    will-change: transform;
    background-color: var(--bgColorMenu);
    transition: transform var(--timeOut, var(--duration));
  }

  .svg-container {
    width: 0;
    height: 0;
  }

  /* End Menu */

  /* Links */

  .home__social {
    justify-content: center;
  }

  /* Home */

  #home > div > div {
    padding: 0;
  }

  #home > div > div.home__content.grid > div.home__img > img {
    margin-top: 2rem;
  }

  .home__content {
    display: flex;
    flex-direction: column;
  }

  .home__social {
    display: flex;
  }

  /*.home__img {*/
  /*  width: 300px;*/
  /*  height: auto;*/
  /*}*/
  .home__social-link {
    font-size: var(--font-large);
    margin: 0rem 1rem 0rem 1rem;
  }

  h1 {
    line-height: 2rem;
    margin-bottom: var(--mb-0-5);
  }

  .home__title {
    font-size: 2rem;
  }

  .home__subtitle {
    font-size: 1.5rem;
  }

  .home__description {
    font-size: 1rem;
  }

  h3 {
    margin-bottom: 0rem;
  }

  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }

  #home > div > div.home__content.grid > div.home__data {
    width: 22rem;
    height: 26rem;
  }

  /* About */

  #about > div > div > div {
    margin-bottom: 4rem;
  }

  #about > div > div > div > div.skill__container > div > div {
    padding: 0;
    margin-bottom: 1rem;
  }

  #about > div > div > div > div.skill__container > div > div:nth-child(1) {
    padding-right: 1rem;
  }
  #about > div > div > div > div.skill__container > div > div:nth-child(2) {
    padding-left: 1rem;
  }

  #about > div > div > div > div.skill__container > h3 {
    margin-bottom: 0;
  }

  .about__info {
    display: block;
  }

  .about__info-title {
    font-size: 1.25rem;
  }

  .about__info-name {
    font-size: 1.25rem;
  }

  #about span.section__subtitle {
    margin-bottom: var(--mb-0-25);
  }

  .about__container a:only-child {
    padding: 0.5rem 1rem;
    font-size: var(--smaller-font-size);
  }

  .fi-rr-download {
    font-size: 1rem;
  }


  #about > div > div > div.about__buttons > a {
    font-size: 1rem;
    padding: .5rem;
    margin: 1rem;
  }

  #about > div > div > div.about__buttons {
    margin-bottom: 6rem;
  }


  /* Research */

  .research h1.section__title {
    margin-bottom: 0.5rem;
    font-size: var(--font-large);
  }

  .research h2.section__subtitle {
    font-size: var(--font-medium);
  }

  .research__container h1.research__title {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
    margin-left: 1rem;
  }

  #research > div > div.research__container.container > ul:nth-child(2) > div > a > * {
    font-size: .7rem;
    padding: 0;
    margin: 0;
  }

  .research__container ul {
    font-size: 1rem;
    margin: 1rem;
  }

  .section {
    height: 100vh;
    /* margin-bottom: 3rem; */
  }

  .research__container,
  .research__interests {
    padding: 0.5rem 0.5rem;
  }

  #research > div > div.research__interests.container > * {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .research__interests h1.section__title {
    font-size: 1.25rem;
    margin-top: 0.5rem;
  }
  #research > div.research__interests.container > ul {
    font-size: 1rem;
  }

  #research > div.research__interests.container {
    padding-bottom: var(--mb-1);
  }

  .research {
    margin: 0;
    padding: 1rem 0rem 1rem 0rem;
  }

  #research > div {
    padding-bottom: 5rem;
  }

  /* Courses */

  .subject__container {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center; */
    display: block;
    margin: 0;
    padding: 0rem;
    padding-bottom: 4rem;
  }

  /* Contact */

  #contact > div.contact__container.container.grid {
    margin: 0;
    padding-bottom: 0;
  }

  #contact > div > div > div {
    margin-bottom: .3rem;
  }

  #contact > h2 {
    margin-top: 13rem;
  }

  #contact {
    width: 93vw;
    padding: 0;
    padding-bottom: 0;
    margin-bottom: 8rem;
  }

  #submit-button {
    margin-bottom: 1.5rem;
  }



  .contact__container {
    display: block;
    /*padding-bottom: 4rem;*/
  }

  .home__social_2 {
    grid-template-columns: repeat(5, 1fr);
  }

  .home__social_2 > * {
    font-size: 1rem;
  }

  #contact__button {
    margin-bottom: 6rem;
  }

}


@media screen and (max-height: 650px) {
  body {
    overflow-y: scroll;
    margin-top: 3rem;
  }
  #courses > div {
    margin: 0;
  }
}

@media screen and (min-width: 2400px) {
  html {
    font-size: 160%;
  }

  #back-to-top > img {
    width: 2rem;
    height: auto;
  }

  .container {
    max-width: 50rem;
  }

}

@media screen and (min-width: 1900px) and (max-width: 2380px)  {
  html {
    font-size: 130%;
  }

  #back-to-top > img {
    width: 2rem;
    height: auto;
  }

  .container {
    max-width: 50rem;
  }

}

@media screen and (max-height: 1030px) and (min-height: 800px) and (min-width: 1700px) {
  #research > div > * {
    min-width: 1300px;
  }
  #contact > span {
    margin-bottom: .5rem;
  }
}